realm=Sonatype Nexus Repository Manager
host=collab.mow.vlaanderen.be
user={{- (secretJSON "get" "--raw" "nexus.user.token").data.username }}
password={{- (secretJSON "get" "--raw" "nexus.user.token").data.password }}
