[
  {
    "url": "postgres://thor:thor@localhost:5432/thor",
    "name": "thor - docker"
  },
  {
    "url": "postgres://thor:thor@localhost:5432/thor-test",
    "name": "thor-test - docker"
  },
  {
    "url": "postgres://thora:{{- secret "get" "postgres.thor.dev" -}}@localhost:5444/thor",
    "name": "thor - DEV"
  },
  {
    "url": "postgres://uitzonderlijkvervoer:uitzonderlijkvervoer@localhost:5432/uitzonderlijkvervoer",
    "name": "uitzonderlijk vervoer - docker"
  },
  {
    "url": "postgres://uitzonderlijkvervoera:{{- secret "get" "postgres.uitzonderlijkvervoer.dev" -}}@localhost:5444/uitzonderlijkvervoer",
    "name": "uitzonderlijk vervoer - DEV"
  }
]
