<?xml version="1.0"?>
<settings>
    <mirrors>
        <mirror>
            <id>awv-central</id>
            <mirrorOf>external:*</mirrorOf>
            <url>https://collab.mow.vlaanderen.be/artifacts/repository/maven-public</url>
            <name>AWV Central</name>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>nexus3</id>
            <repositories>
                <repository>
                    <id>awv-central</id>
                    <url>https://collab.mow.vlaanderen.be/artifacts/repository/maven-public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>awv-central</id>
                    <url>https://collab.mow.vlaanderen.be/artifacts/repository/maven-public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>nexus3</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>awv-central</id>
            <username>saaaa795</username>
	    <password>{cxw8KTsU5zEHKu19MtyzAWUzKBBXwvsTE2DYWxvN7C7VC9/mIfIrH06FmeUaeU9dkyopBA4Hfc8p+Gx21Dmy3Q==}</password>
        </server>
    </servers>
</settings>
